@import "../../styles/toolsBundler.scss";

.social-links {
  a {
      font-size: 1.5em;
      margin: 0 .2em;
      color: #fff;

      &:hover {
          color: $cv-gold;
      }

      &#stackoverflow {
          .reputation {
              font-size: .5em;
              color: $cv-gold;
          }
      }
  }
}