@import '../../assets/styles/toolsBundler.scss';

#myProjectsPage {
    .projects-ctn {
        display: flex;
        justify-content: space-evenly;
        color: initial;
    }
}



@media (max-width: $BIG_SCREEN_MIN_SIZE) {
    #myProjectsPage {
        .projects-ctn {
            display: flex;
            justify-content: space-evenly;
            color: initial;
        }
    }
}