@import '../../assets/styles/toolsBundler.scss';

#skillsPage {
    .skills-ctn {
        display: flex;
        justify-content: space-evenly;
        color: initial;

        h2 {
            color: rgb(251, 188, 5);
            font-size: 2.5rem;
            text-align: center;
            text-shadow: 3px 3px 4px black;
            margin-bottom: 20px;
        }
    }

    .langues,
    #softwareSkills {
        opacity: 0;
        min-width: 25%;
        display: flex;
        margin: 40px 0;
        flex-direction: column;
        border-radius: 40px;
    }

    .langues {
        background-color: rgb(231, 231, 231);
        padding: 0 20px;
        box-shadow: 2px 2px 4px rgb(231, 231, 231);

        div {
            display: flex;
            margin: 30px 0 20px 30px;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            font-size: 2.5rem;
        }

        img {
            width: 2.5em;
        }
    }

    #softwareSkills {
        background-color: rgb(53, 53, 53);
        padding: 0 20px;
        box-shadow: 2px 2px 4px rgb(53, 53, 53);
        padding: 1.6em 1em;

        h3 {
            color: white;
            font-size: 1.8em;
            margin-top: 1em;
            margin-bottom: 0;


            i {
                margin-right: .3em;
                color: rgb(251, 188, 5);
            }

        }

        #typescriptSkills {
            display: flex;

            svg {
                fill: rgb(251, 188, 5);
                margin-right: .3em;
                width: 1em;
                height: 1em;
            }
        }
    }

    .animated-gauge {
        width: 0%; // INITIALIZE WIDTH ON 0 FOR THE ANIMATION
        position: relative;
        height: 9px;
        background-color: white;
        border-radius: 20px;
        margin-top: .1em;
    }

    .jauge0,
    .jauge1,
    .jauge2,
    .jauge3,
    .jauge4,
    .jauge5 {
        position: relative;
        height: 100%;
        background-color: rgb(251, 188, 5);
        border-radius: 20px 0 0 20px;
    }

    .jauge0 {
        width: 80%;
    }

    .jauge1,
    .jauge2 {
        width: 75%;
    }

    .jauge3 {
        width: 40%;
    }

    .jauge4 {
        width: 60%;
    }

    .jauge5 {
        width: 80%;
    }
}

@keyframes gaugeAnimation {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}


//TODO: Use min-width
@media (max-width: $BIG_SCREEN_MIN_SIZE) {
    #skillsPage {
        .skills-ctn {
            flex-wrap: wrap;
        }

        .langues,
        #softwareSkills {
            margin: 0 40px;
        }

        .langues {
            min-width: 300px;

            img {
                width: 60px;
            }

            p {
                font-size: 2rem;
            }
        }

        #softwareSkills {
            max-width: 82%;

            h3 {
                font-size: 1.5rem;
            }
        }
    }
}