@import '../../assets/styles/toolsBundler.scss';

#skills {
    .skills-ctn {
        display: flex;
        justify-content: space-evenly;
        color: initial;

        div {
            margin-bottom: 2em;
        }

        h2 {
            color: rgb(251, 188, 5);
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    #langues,
    #softwareSkills {
        opacity: 0;
        display: flex;
        min-width: 25%;
        margin-bottom: 2em;
        flex-direction: column;
        border-radius: .4em;
        padding: 1.6em 1em;
        align-self: flex-start;
    }

    #langues {
        background-color: $cv-grey;
        box-shadow: 2px 2px 4px rgb(231, 231, 231);

        h2 {
            color: #353535;
        }

        div {
            display: flex;
            margin: 30px 0 20px 30px;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            font-size: 2.5rem;
        }

        img {
            width: 4em;
            height: 4em;
        }
    }

    #softwareSkills {
        background-color: rgb(53, 53, 53);
        box-shadow: 2px 2px 4px rgb(53, 53, 53);

        h3 {
            color: white;
            font-size: 1.8em;
            margin-top: 1em;
            margin-bottom: 0;


            .fa-icon {
                margin-right: .3em;
                color: rgb(251, 188, 5);
            }

        }

        #typescriptSkills {
            display: flex;

            svg {
                fill: rgb(251, 188, 5);
                margin-right: .3em;
                width: 1em;
                height: 1em;
            }
        }

        .animated-gauge {
            width: 0%; // INITIALIZE WIDTH ON 0 FOR THE ANIMATION
            position: relative;
            height: .5em;
            background-color: white;
            border-radius: 20px;
            margin-top: .1em;

            &>div {
                position: relative;
                height: 100%;
                background-color: rgb(251, 188, 5);
                border-radius: 20px 0 0 20px;
            }
        }

        .jauge0 {
            width: 80%;
        }

        .jauge-html-css {
            width: 90%;
        }

        .jauge-php {
            width: 78%;
        }

        .jauge-python {
            width: 60%;
        }

        .jauge-ts {
            width: 80%;
        }

        .jauge-git {
            width: 75%;
        }

        .jauge-react {
            width: 70%;
        }

        .jauge-angular {
            width: 50%;
        }
    }

}

@keyframes gaugeAnimation {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}


@media (max-width: $BIG_SCREEN_MIN_SIZE) {
    #skills {
        .skills-ctn {
            flex-wrap: wrap;
        }

        .langues,
        #softwareSkills {
            margin: 0 40px;
        }

        .langues {
            min-width: 300px;

            p {
                font-size: 2rem;
            }
        }

        #softwareSkills {
            max-width: 82%;

            h3 {
                font-size: 1.5rem;
            }
        }
    }
}