@import "../../assets/styles/variables.scss";

#introductionPage {
    .header_slide_0 {
        height: 25vh;
        background-color: rgb(251, 188, 5);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: dashed $lightWhite .4em;
    }

    .header_slide_0 h1 {
        opacity: 0;
        margin-top: 5vh;
        font-size: 2em;
        margin-block-end: 0;
    }

    .header_slide_0 p {
        opacity: 0;
        margin-top: 10px;
        font-size: 1.5rem;
    }

    .img_container {
        margin-top: -90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img_container img {
        opacity: 0;
        height: 20vh;
        border-radius: 50%;
        border: solid $lightWhite 8px;
    }

    .presentation_slide_0 {
        opacity: 0;
        margin-top: 50px;
        margin-bottom: 40px;
        padding: 0 10%;
        color: rgb(117, 117, 117);
        font-size: 1.4em;
        text-align: center;
        margin-bottom: 150px;
    }

    .presentation_slide_0 i {
        font-family: 'ubuntu';
        font-size: 1.6rem;
    }

    #indication {
        text-align: right;
        font-size: 1rem;
        color: initial;
        display: flex;
        justify-content: right;
        align-content: center;
        margin: 0 20px 40px 0;

        p {
            margin: 0;
        }

        img {
            width: 20px;
        }
    }

}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #introductionPage {
        .header_slide_0 {
            height: 300px;
        }

        .header_slide_0 h1 {
            font-size: 3em;
        }

        .img_container img {
            height: 30vh;
        }

        .presentation_slide_0 {}
    }
}