// Write here new boostrap styles 
// that you want to overwrite

.btn.btn-gold {
    background-color: $cv-golf;
    color: #000;
}



@media (min-width: 576px) {
    .modal-dialog {
        max-width: 95vw;
    }
}