// COLOR ZONE
$lightWhite:#f5f5f5;

$black: #000;
$lightBlack: rgba(33, 37, 41, 1);
$transparentBlack: #e9ecef;

$dark: rgba(52, 58, 64, 1);
$blue: rgb(78, 115, 223);

$green: rgb(28, 200, 138);
$lighterGreen: rgba(28, 200, 138, 0.8);
$transparentGreen: rgba(28, 200, 138, 0.2);

$lightBlue: rgb(54, 185, 204);
$lighterLightBlue: rgba(54, 185, 204, 0.8);
$transparentLightBlue: rgba(54, 185, 204, 0.2);

$orange: rgb(246, 194, 62);
$lighterOrange: rgba(246, 194, 62, 0.8);
$transparentOrange: rgba(246, 194, 62, 0.2);

$lightRed: rgb(220, 20, 60);

$cv-gold:#FBBC05;
$cv-brown: #353535;
$gitlab-main-color: #FB6D26;
// END COLOR ZONE

// SIZE ZONE
$NAVBAR_HEIGHT: 56px;
// END SIZE ZONE

$BIG_SCREEN_MIN_SIZE: 992px;